*{
  margin: 0;
  padding: 0;
}

.App{
  height: 100vh;
  max-width: 100vw;
  background: #262626;
  overflow: hidden;
}

.HamburgerButton:hover{
  cursor: pointer;
}

.sideBar{
  transition: width 0.2s;
}

.slide{
  transition: left 0.25s;
  transition: background 0.25s;
  transition: transform 0.25s;
  background: #393939;
}

.buttonContainer:hover{
  cursor: pointer;
}

.buttonContainer:hover .slide {
  background: #393939;
  transform: translate(490px);
}

.sideBarActive{
  border-style: none none none solid;
  border-width: 2px;
  border-color: #0043CE;
}

.sortBar{
  transition: height 0.25s ease-out;
}